<h2>List of all employees</h2>
<table>
  <tr>
    <td>First Name</td>
    <td>Middle Initial</td>
    <td>Last Name</td>
  </tr>
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.first_name %></td>
    <td><%= employee.middle_initial %></td>
    <td><%= employee.last_name %></td>
  </tr>
<% end %>
</table>